<%- include('../components/layout_sup') %>
<div class="container mt-5 text-white">
  <div class="text-center">
    <h3>Hi there 👋</h3>
    <h3>Be welcome to my profile</h3>
  </div>

  <div class="mt-4">
    <p>
      I'm Kelwin Jhackson Gonçalves de Moura, born in Fortaleza, Ceará, Brazil. I'm interested in programming and
      enjoy games that offer immersive experiences, have a high level of technical detail, and are low in bugs, like
      Red Dead Redemption 2.
    </p>
    <p>
      I am looking for opportunities for learning and professional development in a company where I can collaborate
      with the development team and contribute to the organization's objectives.
    </p>
  </div>
</div>
<%- include('../components/layout_inf') %>